.editor {
  border: 1px solid black;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.cancelline {
  text-decoration: line-through;
}